body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(55, 80, 221), rgb(48, 95, 197), rgb(56, 16, 107));
    color: white;
}

.row-content {
    padding: 50px 0;    
    border-bottom: 1px ridge;
    min-height: 190px;    
}

.navbar {
    background-color: rgb(155, 55, 221);
}


